<br style=“line-height:10;”>
<center>

<h1> Welcome to your Bookmarks!</h1>
<h2>&nbsp;</h2>

<form >
    <input type="button" onclick="window.location.href ='./bookmarks';" value="See Bookmarks" />
</form>
</center>
